@import "tailwindcss";

:root {
  --background: #00072D;
  --foreground: #ededed;
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --card: #00072D;
  --border: #1f1f1f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}
